// Imports
@import 'Variables.scss';

.login {
    background-color: $black;
    display: grid;
    place-items: center;
    height: 100vh;

    img {
        max-inline-size: 80%;
        block-size: auto;
    }

    .button {
        text-decoration: none;
        color: white;
        background-color: $green;
        padding: 0.5rem 2.5rem;
        border-radius: 5rem;
        font-weight: 600;   
        transition: 0.3s ease-in-out;

        &:hover {
            color: $black;
        }
    }
}