// Breakpoint
$breakpoint-mobile: 600px;

// Colors
$black: #000000;
$white: #ffffff;
$grayish: #b3b3b3;
$darkgrayish: #5c5c5c;
$green: #1db954;

// Sizes
$one-rem: 1rem;
$two-rem: 2rem;

// Sizes & styles
$very-big-button: 55px;
$very-big-font: 48px;
$big-font: 16px;
$medium-font: 14px;
$small-font: 12px;


// Content colors
$primary-color: #236172;
$secondary-color: #2d7a8f;
$third-color: #282828;